<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Menu</h1>
    <form action="/menu/edit/<%=menu.id%>" method="POST">
        Name:<br>
        <input type="text" name="name" value=<%=menu.name%>>
        <br>
        Price:<br>
        <input type="text" name="price" value=<%=menu.price%>>
        <br><br>
        <input type="submit" value="Submit">
        <br><br>
        <a href='/admin/menu'>Back</a>
    </form> 
      
</body>
</html>