<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/admin/order/<%=transaction.id%>" method="POST">
            Status:<br>
            <select name="status">
                    <option value=<%=transaction.status%>><%=transaction.status%></option>
                    <option value="checkout">checkout</option>
                    <option value="on-progress">on progress</option>
                    <option value="delivery">delivery</option>
                    <option value="delivered">delivered</option>
                    <option value="complete">complete</option>
            </select>
            <input type="submit" value="Submit">
            <a href='/admin/order'>Back</a>
          </form>
</body>
</html>