<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body background: "https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/3667914/1820/1213/m1/fpnw/wm1/mm0k1z4eopjimitemdhs6fmiqbvykaf8eubhbyldigxeuwfu2irobuuqz5pjkc1q-.jpg?1512111122&s=54f66daefac23151f5aa1b08d3c76cca">
    <h1>LOGIN</h1>
    <h4 style="color: red"><%=err%></h4>
    <form action="/login" method="POST">
        Username:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        <a href = "/register">create an account</a><br>
        <br>
        <input type="submit" value="Log In">
      </form> 
      
</body>
</html>