<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Congrats You have just subscribed to FoodApps News Letter</h1>
    <h1>And email has been sent to <%= email %> </h1>
    <hr>
    <a href="/home/user">Home</a>

</body>
</html>