<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>subscribe to news letter</h1>
           <hr>
        <form action="/user/subscribe" method="POST">
            email:<br>
            <input type="text" name="email">
            <br>
            <input type="submit" value="Submit">
          </form> 


          
</body>
</html>